<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jibaku_Move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{5,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,100}}</string>
                <key>sourceSize</key>
                <string>{5,100}</string>
            </dict>
            <key>Jibaku_Move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{16,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,100}}</string>
                <key>sourceSize</key>
                <string>{16,100}</string>
            </dict>
            <key>Jibaku_Move_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,169},{19,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,100}}</string>
                <key>sourceSize</key>
                <string>{19,100}</string>
            </dict>
            <key>Jibaku_Move_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{25,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,100}}</string>
                <key>sourceSize</key>
                <string>{25,100}</string>
            </dict>
            <key>Jibaku_Move_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,253},{31,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,100}}</string>
                <key>sourceSize</key>
                <string>{31,100}</string>
            </dict>
            <key>Jibaku_Move_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,220},{31,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,100}}</string>
                <key>sourceSize</key>
                <string>{31,100}</string>
            </dict>
            <key>Jibaku_Move_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{42,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,109}}</string>
                <key>sourceSize</key>
                <string>{42,109}</string>
            </dict>
            <key>Jibaku_Move_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,169},{49,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,109}}</string>
                <key>sourceSize</key>
                <string>{49,109}</string>
            </dict>
            <key>Jibaku_Move_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{92,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,116}}</string>
                <key>sourceSize</key>
                <string>{92,116}</string>
            </dict>
            <key>Jibaku_Move_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{116,120}</string>
            </dict>
            <key>Jibaku_Move_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{93,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,120}}</string>
                <key>sourceSize</key>
                <string>{93,120}</string>
            </dict>
            <key>Jibaku_Move_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,97},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{70,120}</string>
            </dict>
            <key>images/未标题-3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{5,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,100}}</string>
                <key>sourceSize</key>
                <string>{5,100}</string>
            </dict>
            <key>images/未标题-3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{16,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,100}}</string>
                <key>sourceSize</key>
                <string>{16,100}</string>
            </dict>
            <key>images/未标题-3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,169},{19,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,100}}</string>
                <key>sourceSize</key>
                <string>{19,100}</string>
            </dict>
            <key>images/未标题-3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{25,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,100}}</string>
                <key>sourceSize</key>
                <string>{25,100}</string>
            </dict>
            <key>images/未标题-3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,253},{31,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,100}}</string>
                <key>sourceSize</key>
                <string>{31,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jibaku.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9de125f8f663382c4c880a43e30f9521$</string>
            <key>textureFileName</key>
            <string>Jibaku.png</string>
        </dict>
    </dict>
</plist>
